body {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100%;
  padding: 0 8%;
  background-color: #fff;
}

header .wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  position: relative;
}

header .wrap .logLink {
  position: absolute;
  top: 5px;
  right: 0;
  z-index: 99;
}

@media screen and (max-width: 1100px) {
  header .wrap .logLink {
    top: 35px;
    right: 140px;
  }
}

@media screen and (max-width: 555px) {
  header .wrap .logLink {
    top: 20px;
    left: 0;
  }
}

header .wrap .logLink a {
  text-decoration: none;
  color: black;
}

header .wrap .productCart {
  position: absolute;
  top: 5px;
  right: -7%;
  z-index: 99;
}

@media screen and (max-width: 1100px) {
  header .wrap .productCart {
    top: 35px;
    right: 70px;
  }
}

@media screen and (max-width: 555px) {
  header .wrap .productCart {
    top: 60px;
    left: 0;
  }
}

header .wrap .productCart a {
  text-decoration: none;
  color: black;
}

header .wrap .logo {
  width: 120px;
  position: relative;
  z-index: 99;
}

@media screen and (max-width: 1100px) {
  header .wrap .logo {
    width: 115px;
  }
}

@media screen and (max-width: 555px) {
  header .wrap .logo {
    left: calc(50% - 40px);
  }
}

header .wrap .logo img {
  width: 100%;
}

header .wrap .nav_btns {
  margin-top: 20px;
  margin-left: auto;
  margin-right: 100px;
}

@media screen and (max-width: 1100px) {
  header .wrap .nav_btns {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 88;
    width: 50%;
    height: 100%;
    background-color: #fff;
    padding: 140px 0;
    margin-right: 0;
    margin-top: 0;
  }
}

@media screen and (max-width: 555px) {
  header .wrap .nav_btns {
    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  header .wrap .nav_btns.nav_btns_click {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

header .wrap .nav_btns .header_nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

@media screen and (max-width: 1100px) {
  header .wrap .nav_btns .header_nav {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 555px) {
  header .wrap .nav_btns .header_nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header .wrap .nav_btns .header_nav li {
  font-size: 20px;
  list-style: none;
}

@media screen and (max-width: 1100px) {
  header .wrap .nav_btns .header_nav li {
    margin: 30px;
  }
}

@media screen and (min-width: 1101px) {
  header .wrap .nav_btns .header_nav li:hover > a {
    background-color: #f0f0f0;
  }
}

header .wrap .nav_btns .header_nav li:hover ul {
  display: block;
}

@media screen and (max-width: 1101px) {
  header .wrap .nav_btns .header_nav li:hover ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header .wrap .nav_btns .header_nav li a {
  text-decoration: none;
  color: black;
  letter-spacing: 3px;
  padding: 20px;
}

@media screen and (max-width: 1100px) {
  header .wrap .nav_btns .header_nav li a {
    padding: 12px;
    font-weight: bold;
  }
}

header .wrap .nav_btns .header_nav li ul {
  position: absolute;
  z-index: 9;
  display: none;
  margin-top: 10px;
  padding: 0;
  text-align: center;
  width: 162px;
}

@media screen and (min-width: 1101px) {
  header .wrap .nav_btns .header_nav li ul {
    background-color: #f0f0f0c7;
  }
}

@media screen and (max-width: 1100px) {
  header .wrap .nav_btns .header_nav li ul {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
}

header .wrap .nav_btns .header_nav li ul li {
  padding: 20px 0;
  font-size: 16px;
}

@media screen and (max-width: 1100px) {
  header .wrap .nav_btns .header_nav li ul li {
    margin: 20px 20px 0 20px;
    padding: 0;
  }
  header .wrap .nav_btns .header_nav li ul li:hover {
    background-color: #f0f0f0;
  }
}

header .wrap .nav_btns .header_nav li ul li a {
  font-weight: 400;
}

header .wrap .menu_btn_Area {
  display: none;
}

@media screen and (max-width: 1100px) {
  header .wrap .menu_btn_Area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

header .wrap .menu_btn_Area .menu_btn {
  width: 50px;
  height: 50px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 99;
}

header .wrap .menu_btn_Area .menu_btn:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0);
          box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0);
}

header .wrap .menu_btn_Area .menu_btn .menu_btn_click {
  z-index: 9999;
}

header .wrap .menu_btn_Area .menu_btn .bar {
  width: 26px;
  height: 2px;
  background-color: gray;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .wrap .menu_btn_Area .menu_btn .bar:nth-child(1) {
  height: 3px;
}

header .wrap .menu_btn_Area .menu_btn .top_bar {
  position: absolute;
  top: 17px;
  left: 12px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

header .wrap .menu_btn_Area .menu_btn .top_click {
  top: 24px !important;
  left: 12px !important;
  -webkit-transform: rotate(-45deg) !important;
          transform: rotate(-45deg) !important;
}

header .wrap .menu_btn_Area .menu_btn .mid_bar {
  position: absolute;
  top: 24px;
  left: 12px;
  opacity: 1;
}

header .wrap .menu_btn_Area .menu_btn .mid_click {
  opacity: 0 !important;
}

header .wrap .menu_btn_Area .menu_btn .bot_bar {
  position: absolute;
  top: 31px;
  left: 12px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

header .wrap .menu_btn_Area .menu_btn .bot_click {
  top: 24px !important;
  left: 12px !important;
  -webkit-transform: rotate(45deg) !important;
          transform: rotate(45deg) !important;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

footer .footer_area {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 0 8%;
}

@media screen and (max-width: 1700px) {
  footer .footer_area {
    width: 95%;
    padding: 0 5%;
  }
}

@media screen and (max-width: 1400px) {
  footer .footer_area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer_area .footer_info {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
}

@media screen and (max-width: 1400px) {
  footer .footer_area .footer_info {
    width: 66%;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  footer .footer_area .footer_info {
    width: 100%;
  }
}

footer .footer_area .footer_info .footer_bar {
  margin-left: 5px;
  margin-top: 50px;
  margin-bottom: auto;
}

@media screen and (max-width: 1400px) {
  footer .footer_area .footer_info .footer_bar {
    margin: 50px auto;
  }
}

@media screen and (max-width: 768px) {
  footer .footer_area .footer_info .footer_bar {
    margin: 25px auto;
  }
}

footer .footer_area .footer_info .footer_bar ul {
  list-style: none;
  padding: 0;
}

footer .footer_area .footer_info .footer_bar ul li {
  padding: 10px 0px;
}

footer .footer_area .footer_info .footer_bar ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  letter-spacing: 3px;
}

@media screen and (max-width: 500px) {
  footer .footer_area .footer_info .footer_bar ul li a {
    font-size: 14px;
  }
}

footer .footer_area .footer_info .Contact_information {
  margin-bottom: 5px;
}

@media screen and (max-width: 1400px) {
  footer .footer_area .footer_info .Contact_information {
    margin: 0 auto;
  }
}

footer .footer_area .footer_info .Contact_information p {
  font-size: 20px;
  padding-left: 20px;
  border-left: 1px solid black;
  letter-spacing: 3px;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  footer .footer_area .footer_info .Contact_information p {
    font-size: 14px;
  }
}

footer .footer_area .footer_pic {
  width: 66.66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1400px) {
  footer .footer_area .footer_pic {
    width: 80%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
}

footer .footer_area .footer_pic img {
  width: 770px;
  margin-left: auto;
}

@media screen and (max-width: 1400px) {
  footer .footer_area .footer_pic img {
    width: 95%;
    margin: 0 auto;
  }
}

footer .copyright {
  width: 100%;
  height: 50px;
  margin-top: 50px;
  background-color: #763134;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 555px) {
  footer .copyright {
    height: 40px;
  }
}

@media screen and (max-width: 400px) {
  footer .copyright {
    height: 30px;
  }
}

footer .copyright .copyright_text {
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  margin: auto;
}

@media screen and (max-width: 555px) {
  footer .copyright .copyright_text {
    letter-spacing: 1.5px;
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  footer .copyright .copyright_text {
    font-size: 12px;
  }
}
/*# sourceMappingURL=00-template.css.map */