body {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


.shopping_cart{
    color:rgb(105, 103, 103);
    font-size: 48px;
    position: fixed;
    right: 40px;
    bottom: 100px;

}

.cart_icon:hover .note_cart{
    display: flex;
}

.note_cart {
    display: none;
    color:rgb(204, 88, 88);
    position: fixed;
    font-size: 18px;
    right: 25px;
    bottom: 70px;
}

.shopping_cart .qty{
    position: absolute;
    color: #000;
    width:35px;
    height: 35px;
    border: 2px solid rgb(105, 103, 103);
    border-radius: 50%;
    background: #FFF;
    font-size: 16px;
    top:0;
    right: 0;
    transform: translate(40%,-40%);
    display: flex;
    justify-content: center;
    align-items: center;

}


main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .wrap {
  width: 84%;
  background-color: #f6f6f5;
}

@media screen and (max-width: 1500px) {
  main .wrap {
    width: 86%;
  }
}

@media screen and (max-width: 1300px) {
  main .wrap {
    width: 88%;
  }
}

@media screen and (max-width: 1200px) {
  main .wrap {
    width: 92%;
  }
}

@media screen and (max-width: 768px) {
  main .wrap {
    width: 96%;
  }
}

@media screen and (max-width: 576px) {
  main .wrap {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  main .wrap {
    min-width: 320px;
  }
}

main .wrap .breadcrumb {
  width: 100%;
  height: 70px;
  background-color: #f6f6f5;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  main .wrap .breadcrumb {
    padding: 0 8%;
  }
}

main .wrap .breadcrumb a {
  color: black;
  font-size: 30px;
  text-decoration: none;
  word-wrap: none;
}

@media screen and (max-width: 1180px) {
  main .wrap .breadcrumb a {
    font-size: 26px;
  }
}

@media screen and (max-width: 768px) {
  main .wrap .breadcrumb a {
    font-size: 22px;
  }
}

@media screen and (max-width: 576px) {
  main .wrap .breadcrumb a {
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  main .wrap .breadcrumb a {
    font-size: 12px;
  }
}

main .wrap .breadcrumb a:hover {
  border-bottom: 2px solid black;
}

main .wrap .breadcrumb span {
  font-size: 30px;
  word-wrap: none;
}

@media screen and (max-width: 1180px) {
  main .wrap .breadcrumb span {
    font-size: 26px;
  }
}

@media screen and (max-width: 768px) {
  main .wrap .breadcrumb span {
    font-size: 22px;
  }
}

@media screen and (max-width: 576px) {
  main .wrap .breadcrumb span {
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  main .wrap .breadcrumb span {
    font-size: 12px;
  }
}

main .wrap .product_info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .wrap .product_info .product_img_wrap {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_info .product_img_wrap {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main .wrap .product_info .product_img_wrap img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 480px;
  height: 480px;
  margin-left: auto;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_info .product_img_wrap img {
    width: 400px;
    height: 400px;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  main .wrap .product_info .product_img_wrap img {
    width: 84%;
    height: 84%;
  }
}

main .wrap .product_info .product_selection {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 100px;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_info .product_selection {
    width: 450px;
    padding: 0;
    margin: 20px auto 0;
  }
}

@media screen and (max-width: 576px) {
  main .wrap .product_info .product_selection {
    width: 100%;
    padding: 0 10%;
  }
}

main .wrap .product_info .product_selection .product_title {
  font-size: 30px;
  font-weight: bold;
  margin: 60px 0;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_info .product_selection .product_title {
    font-size: 26px;
    margin: 40px 0;
  }
}

@media screen and (max-width: 768px) {
  main .wrap .product_info .product_selection .product_title {
    font-size: 22px;
    margin: 20px 0;
  }
}

@media screen and (max-width: 576px) {
  main .wrap .product_info .product_selection .product_title {
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  main .wrap .product_info .product_selection .product_title {
    font-size: 16px;
  }
}

main .wrap .product_info .product_selection .product_price {
  width: 350px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_info .product_selection .product_price {
    width: 100%;
    margin-bottom: 30px;
  }
}

main .wrap .product_info .product_selection .product_price span {
  font-size: 36px;
  margin-left: auto;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_info .product_selection .product_price span {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  main .wrap .product_info .product_selection .product_price span {
    font-size: 24px;
    margin-left: 0;
    margin-right: auto;
  }
}

@media screen and (max-width: 576px) {
  main .wrap .product_info .product_selection .product_price span {
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  main .wrap .product_info .product_selection .product_price span {
    font-size: 12px;
  }
}

main .wrap .product_info .product_selection .product_thumbnail {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_info .product_selection .product_thumbnail {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-top: 20px;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main .wrap .product_info .product_selection .product_thumbnail img {
  width: 70px;
  height: 70px;
  margin-right: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_info .product_selection .product_thumbnail img {
    width: 60px;
    height: 60px;
    margin-right: 5px;
    margin-left: 5px;
  }
}

@media screen and (max-width: 768px) {
  main .wrap .product_info .product_selection .product_thumbnail img {
    width: 50px;
    height: 50px;
  }
}

main .wrap .product_info .product_selection .product_thumbnail img:hover {
  opacity: 0.8;
}

main .wrap .product_info .product_selection .product_quantity {
  width: 350px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_info .product_selection .product_quantity {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  main .wrap .product_info .product_selection .product_quantity {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

main .wrap .product_info .product_selection .product_quantity .btn_group {
    display: flex;
    width: 160px;
}

main .wrap .product_info .product_selection .product_quantity .btn_group .add_down{

    padding:0px;
}

main .wrap .product_info .product_selection .product_quantity .btn_group .add_up{

    padding:0px;
}

main .wrap .product_info .product_selection .product_quantity .btn_group .show_quantity{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    font-size: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

main .wrap .product_info .product_selection .product_quantity .btn_group .btn {
  font-size: 30px;
  color: #000000;
  width: 35px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  float:left;
  border: 2px solid #8e8e8e;
  border-radius: 0;
  background-color: #eeeeee;
  margin-left: -3px;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_info .product_selection .product_quantity .btn_group .btn {
    font-size: 26px;
    width: 30px;
    height: 50px;
  }
}

@media screen and (max-width: 768px) {
  main .wrap .product_info .product_selection .product_quantity .btn_group .btn {
    font-size: 22px;
  }
}

@media screen and (max-width: 576px) {
  main .wrap .product_info .product_selection .product_quantity .btn_group .btn {
    font-size: 18px;
  }
}

main .wrap .product_info .product_selection .product_quantity .btn_group .btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

main .wrap .product_info .product_selection .product_quantity .btn_group .btn:hover {
  background-color: #aaa7a7;
}

main .wrap .product_info .product_selection .product_quantity .btn_group .item-quantity {
  font-size: 30px;
  width: 85px;
  height: 60px;
  margin-left: -1px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  float: left;
  border: 1px solid #969696;
  border-radius: 0;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_info .product_selection .product_quantity .btn_group .item-quantity {
    font-size: 26px;
    width: 65px;
    height: 50px;
  }
}

@media screen and (max-width: 768px) {
  main .wrap .product_info .product_selection .product_quantity .btn_group .item-quantity {
    font-size: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 576px) {
  main .wrap .product_info .product_selection .product_quantity .btn_group .item-quantity {
    font-size: 18px;
  }
}

main .wrap .product_info .product_selection .product_quantity .btn_group .item-quantity:focus {
  outline: 0;
}

main .wrap .product_info .product_selection .addchart {
  width: 350px;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_info .product_selection .addchart {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main .wrap .product_info .product_selection .addchart input {
  width: 100%;
  height: 65px;
  background-color: #b3b3b3;
  font-size: 30px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_info .product_selection .addchart input {
    width: 350px;
    font-size: 26px;
  }
}

@media screen and (max-width: 768px) {
  main .wrap .product_info .product_selection .addchart input {
    width: 100%;
    font-size: 22px;
  }
}

@media screen and (max-width: 576px) {
  main .wrap .product_info .product_selection .addchart input {
    width: 100%;
    font-size: 20px;
  }
}

main .wrap .product_info .product_selection .addchart input:hover {
  background-color: #763134;
}

main .wrap .product_info .product_selection .addchart input:focus {
  outline: 0;
  background-color: #763134;
}

main .wrap .product_info .product_selection .note {
  margin: 20px 0 0 -10px;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_info .product_selection .note {
    margin: 20px auto;
  }
}

main .wrap .product_introduction {
  width: 600px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

@media screen and (max-width: 768px) {
  main .wrap .product_introduction {
    width: 100%;
    padding: 0 10%;
  }
}

main .wrap .product_introduction .content_title {
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_introduction .content_title {
    font-size: 26px;
  }
}

@media screen and (max-width: 768px) {
  main .wrap .product_introduction .content_title {
    font-size: 22px;
    font-weight: bold;
  }
}

@media screen and (max-width: 576px) {
  main .wrap .product_introduction .content_title {
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  main .wrap .product_introduction .content_title {
    font-size: 16px;
  }
}

main .wrap .product_introduction .product_content {
  width: 450px;
  font-size: 20px;
  letter-spacing: 1.5px;
  line-height: 35px;
  margin: 50px auto;
}

@media screen and (max-width: 1180px) {
  main .wrap .product_introduction .product_content {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  main .wrap .product_introduction .product_content {
    width: 100%;
    padding: 0 10%;
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  main .wrap .product_introduction .product_content {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  main .wrap .product_introduction .product_content {
    font-size: 12px;
  }
}

main .wrap .product_introduction .product_imgs {
  width: 100%;
}

@media screen and (max-width: 768) {
  main .wrap .product_introduction .product_imgs {
    padding: 0 10%;
  }
}

main .wrap .product_introduction .product_imgs img {
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  main .wrap .product_introduction .product_imgs img {
    width: 100%;
  }
}

/*# sourceMappingURL=04-product_detail.css.map */
